<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Firebase / Network -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/queuelessicon"
        android:roundIcon="@drawable/roundappiconversi"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Queueless"
        tools:targetApi="31">

        <!-- LAUNCHER -->
        <activity
            android:name=".Activity_Roleselection"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- LOGIN / REGISTER -->
        <activity android:name=".Activity_Login" android:exported="false"/>
        <activity android:name=".Activity_Register" android:exported="false"/>

        <!-- USER FLOW -->
        <activity android:name=".Activity_Userdashboard" android:exported="false"/>
        <activity android:name=".Activity_Tokenbooking" android:exported="false"/>
        <activity android:name=".Activity_Tokengenerate" android:exported="false"/>
        <activity android:name=".Activity_Tokenstatus" android:exported="false"/>

        <!-- ADMIN FLOW -->
        <activity android:name=".Activity_Admindashboard" android:exported="false"/>
        <activity android:name=".Activity_Createbusiness" android:exported="false"/>
        <activity android:name=".Activity_Selectbusiness" android:exported="false"/>

    </application>
</manifest>